# Ignore everything
*
# But not these files...
!.gitignore
!.gitattributes
!.bash_profile
!.bashrc_tail
!.history
!.vimrc
!.xinitrc
!.Xresources

# not this folders...
!scripts
!scripts/**

!.config
!.config/bspwm/
!.config/bspwm/**
!.config/compton/
!.config/compton/**
!.config/i3/
!.config/i3/**
!.config/i3status/
!.config/i3status/**
!.config/polybar/
!.config/polybar/**
!.config/ranger/
!.config/ranger/**
!.config/sxhkd/
!.config/sxhkd/**
!.config/vifm/
!.config/vifm/**
.config/vifm/vifminfo

.newsboat/*
!.newsboat/config
