config/.config/vifm/vifminfo
config/.config/chromium/
config/.config/mimeapps.list
config/.config/pavucontrol.ini
config/.config/pulse/
config/.config/wallpaper.png
config/.config/dconf
config/.config/htop
config/.config/neofetch
config/.config/Code
config/.config/code
config/.config/thunar
config/.config/Thunar/
config/.config/user-dirs.dirs
config/.config/user-dirs.locale
config/.config/Code - OSSV/
config/.config/Electron/
config/.config/google-chrome/
config/.config/gtk-3.0/
config/.config/keepassxc/
config/.config/Code*
config/.config/vifm/vifminfo.json
config/.config/QtProject.conf
config/.config/flameshot/
config/.config/blender/
config/.config/cef_user_data/
config/.config/configstore/
config/.config/heroic/
config/.config/legendary/
config/.config/xfce4/

# Ignore everything
#*
# But not these files...
!config/.config/xfce4/xfconf/xfce-perchannel-xml/*
!.gitignore
!.gitattributes
!.bash_profile
!.bashrc_tail
!.history
!.vimrc
!.xinitrc
!.Xresources

# not this folders...
!scripts
!scripts/**

!.config
!.config/bspwm/
!.config/bspwm/**
!.config/picom/
!.config/picom/**
!.config/compton/
!.config/compton/**
!.config/polybar/
!.config/polybar/**
!.config/sxhkd/
!.config/sxhkd/**
!.config/vifm/
!.config/vifm/**
.config/vifm/vifminfo

.newsboat/*
!.newsboat/config
